<div class="chat-box  card card-bordered">
    <div class="chat-header card-header "><h4 class="card-title"><strong>Global Chat</strong></h4></div>
    <div class="chat-content" id="container">
        <div class="ms-right">hello I am arjyo</div>
        <div class="ms-left">hello i am _____</div>
        

    </div>

    <!-- <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> <input class="publisher-input" type="text" placeholder="Write something"> <span class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> <input type="file"> </span> <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a> <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a> </div> -->
    <div class="publisher bt-1 border-light"><form action="#" id="send-container"><input class="publisher-input" type="text" placeholder="Write something" id="messageInput"> <button type="submit" id="chat-submit">Send</button></form></div>
</div>