<hr>

<footer >
  <p class="text-footer">
      Copyright &copy 2021 - Gozip- All rights reserved.
      
  </p>
  <p class="text-footer">The maker of this website is just a student trying to demonstrate his technological capability and is noway responsible for whatever opinion is written by the blogger.
  </p>

</footer>
  
</body>
</html>