<%- include('partials/header'); -%>
<div class="container py-md-5 container--narrow">
    <div id="profile">
        <button class="font-awes-profile"><i class="fas fa-user-circle fa-2x"></i></button>
        <p id="pro-name"><%=(typeof title != "undefined" ? title : "")%></p>
    </div>
    <div class="d-flex profile-but">
        <button class="prof-but-elem" id="Posts"><a href="/profile">Posts: 0</a>  </button>
        <button class="prof-but-elem" style="color: #0060b6;"><a href="/followers"  style="color: #0060b6;">Followers: 0</a></button>
        <button class="prof-but-elem" style="color: #0060b6;"><a href="/following"  style="color: #0060b6;">Following: 0</a></button>
    </div>
</div>

<%- include('partials/footer'); -%>
