:root{
    --lightGrey:rgb(230, 233, 240);
    --spacing:15px;
    --greyText:rgb(101, 119, 134);
    --blue:#1fa2f1
}



*::before,
*::after {
  box-sizing: border-box; }

body{
  overflow-x: hidden;
}


.invisible{
    visibility: none;
    display: none;
}

.btn{
    width: 150px;
}

#navbarSupportedContent{
    margin-right: 80px;
}

.navbar-brand{
    margin-left: 130px;
    font-size: 30px;
}

.navbar{
    height: 55px;
}

.grey{
    color: grey;
}



  .main-form{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 100px;
  }

  .main-page-content{
    margin-top: 150px;
    margin-left: 120px;
  }

  h1{
      font-size: 3.5rem;
  }

  .form-group input{
      width: 400px;
      margin-bottom: 15px;
  }

  .main-form button{
      width: 400px;
      background-color: rgb(145, 216, 38);
      padding: 15px 0;
  }

  .text-footer{
      text-align: center;
      color: grey;
  }

  footer{
      height: 100px;
  }

  .main-content{
      height: 460px;
  }

  #firstwarn{
    position: relative;
    top: 40px;
    width: 380px;
height: 50px;
  }

  #thirdwarn{
    position: fixed;
    top: 40px;
    width: 380px;
    height: 50px;
  }

  /* dashboard */

 
  .icons{
      margin: 0 5px;
  }

  .icons a{
      text-decoration: none;
      text-decoration-color: white;
  }


  .font-awes{
      background-color: #212529;
      border: none;
color: white;
/* background-color: white; */
  }

  .font-awes-profile{
      background-color: white;
      border: none;
  }

  #submitbut{
      background-color: gray;
  }

  #dashboard{
    width: 50%;
  }

  /* profile */
  #profile{
    margin-top: 50px;
      text-align: left;
      position: relative;
    left: 150px;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 5px 5px;
    bottom: 22px;
  }

  #pro-name{
    position: relative;
    top: 16px;
    left: 20px;
    width: 75%;
    font-size: 22px;
  }
  

  #profile button{
      width: 25%;
  }

  .profile-but{
      position: relative;
      left: 150px;
      width: 80%;
  }

  .prof-but-elem{
background-color: white;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom:1px solid grey;
padding: 5px 15px;
  }

  .create{    
    width: 50%;
  }

  

  /* profile */

  a {
    /* color: #0060b6; */
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: black;
    text-decoration: none;
  }

  #Posts{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  #follower{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  #following{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  /* #profile{
    color: white;
  } */

  i{
    margin-top: 10px;
  }

  .header-buttons{
    margin-top: 10px;
  }

  /* card list  */

  .card-list-body{
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #6c757d;
text-align: left;
  }

  .card {
    margin-bottom: 0.75rem; }
    .card .card-title {
      max-width: 90%; }



  .card-task .card-body {
    padding: 0.25rem;
    justify-content: space-between;
    border: 1px solid black;
   }

   .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    display: flex;
   }
   
   /* .card-list {
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #dee2e6; } */

/* ---------------------------------------------------------------------------------- */

    /* chat */

    #backwards{
        position: relative;
        /* z-index: -999; */
        left: 150px;
        width: 69%;
        /* border: 1px solid black; */
        margin-top: 25px;
    }

  .chat-box{
    position: fixed;
    right: 20px;
    bottom: -25px;
    width: 350px;
    height: 65vh;
    background-color: white;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 9999; 
  }

  .chat-content{
    overflow-y: auto;
    z-index: 2000;
    box-shadow: 5px 5px 5px grey;

  }

  .chat-box.active{
    transform: scaleY(1);
    z-index: 9999;

  }

  .chat-header{
    background-color: black ;
color: white;
z-index: 2000;


  }

  .ms-left{
    float: left;
    clear: both;
    background-color: grey;
    padding: auto;
    margin: 10px 8px;
    border-radius: 5px;
    padding: 6px 6px;
    z-index: 2000;
  }

  .ms-right{
    float: right;
    clear: both;
    background-color: skyblue;
    padding: auto;
    margin: 10px 8px;
    border-radius: 5px;
    padding: 6px 6px;
    z-index: 2000;
  }






  
  .card-bordered {
      border: 1px solid #ebebeb;
      box-shadow: 5px 5px 5px grey;
    }
    
    .card {
        border: 0;
        border-radius: 0px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
        -webkit-transition: .5s;
        transition: .5s;
        z-index:2000;
    }
    
    /* ------------------------------------------------------------------------------------------------- */
    /* experimental */
.padding {
    padding: 3rem !important
}

body {
    background-color: white
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    /* background-color: transparent; */
    border-bottom: 1px solid rgba(77, 82, 89, 0.07)
}

.card-header .card-title {
    padding: 0;
    border: none
}

h4.card-title {
    font-size: 17px
}

.card-header>*:last-child {
    margin-right: 0
}

.card-header>* {
    margin-left: 8px;
    margin-right: 8px
}
/* not imp */
.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff
} 
/* not imp */
.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px
}
/* not imp */
.btn-xs:hover {
    color: #fff !important
}
/* not imp */
.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07)
}
/* not imp */
.ps-container {
    position: relative
}
/* not imp */
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none
}
/* not imp */
.media-chat {
    padding-right: 64px;
    margin-bottom: 0
}
/* not imp */
.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear
}
/* not imp */
.media .avatar {
    flex-shrink: 0
}
/* not imp */
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase
}
/* not imp */
.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table
}
/* not imp */
.media-body {
    min-width: 0
}
/* not imp */
.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #9b9b9b
}
/* not imp */
.media>* {
    margin: 0 8px
}
/* not imp */
.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8
}
/* not imp */
.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400
}
/* not imp */
.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear
}
/* not imp */
.media-meta-day::before {
    margin-right: 16px
}
/* not imp */
.media-meta-day::before,
.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb
}
/* not imp */
.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb
}
/* not imp */
.media-meta-day::after {
    margin-left: 16px
}
/* not imp */
.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse
}
/* not imp */
.media-chat {
    padding-right: 64px;
    margin-bottom: 0
}
/* not imp */
.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear
}
/* not imp */
.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff
}
/* not imp */
.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px
}

.border-light {
    border-color: #f1f2f3 !important
}

.bt-1 {
    border-top: 1px solid #ebebeb !important
}

.publisher {
    position: absolute;
    bottom: 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
    z-index: 2000;
    width: 350px;
}

.publisher>*:first-child {
    margin-left: 0
}

.publisher>* {
    margin: 0 8px
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent
}

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-weight: 300
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.file-group {
    position: relative;
    overflow: hidden
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px
}

.text-info {
    color: #48b0f7 !important
}

#chat-submit{
    margin-left: 74px;
}

#third_button{
    padding-right: 460px;
}



/* search page  */
.titleContainer{
    height: 53px;
padding: 0 var(--spacing);
display: flex;
align-items: center;
border-bottom: 1px solid var(--lightGrey);
flex-shrink: 0;
margin: 0 25px;
}

#search {
    font-size: 19px;
font-weight: 800;
margin: 0;
}

.searchBarContainer{
    display: flex;
    position: relative;
    border-radius: 50px;
    border: 1px solid black;
    margin: 35px 44px;
}

.searchBarContainer i{
    position: absolute;
    left: 12px;
}

.searchBarContainer #searchBox{
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--lightGrey);
    color: var(--greyText);
  }

  .tabsContainer{
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
  }

  .tab.active{
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
  }

  .tab{
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
  }


  .resultsContainer{
    display: flex;
    flex-direction: column;
    height: 100px;
  }