*::before,
*::after {
  box-sizing: border-box; }

body{
  overflow-x: hidden;
}


.invisible{
    visibility: none;
    display: none;
}

.btn{
    width: 150px;
}

#navbarSupportedContent{
    margin-right: 80px;
}

.navbar-brand{
    margin-left: 130px;
    font-size: 30px;
}

.navbar{
    height: 55px;
}

.grey{
    color: grey;
}



  .main-form{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 100px;
  }

  .main-page-content{
    margin-top: 150px;
    margin-left: 120px;
  }

  h1{
      font-size: 3.5rem;
  }

  .form-group input{
      width: 400px;
      margin-bottom: 15px;
  }

  .main-form button{
      width: 400px;
      background-color: rgb(145, 216, 38);
      padding: 15px 0;
  }

  .text-footer{
      text-align: center;
      color: grey;
  }

  footer{
      height: 100px;
  }

  .main-content{
      height: 460px;
  }

  #firstwarn{
    position: relative;
    top: 40px;
    width: 380px;
height: 50px;
  }

  #thirdwarn{
    position: fixed;
    top: 40px;
    width: 380px;
    height: 50px;
  }

  /* dashboard */

 
  .icons{
      margin: 0 5px;
  }

  .icons a{
      text-decoration: none;
      text-decoration-color: white;
  }


  .font-awes{
      background-color: #212529;
      border: none;
color: white;
/* background-color: white; */
  }

  .font-awes-profile{
      background-color: white;
      border: none;
  }

  #submitbut{
      background-color: gray;
  }

  #dashboard{
    width: 50%;
  }

  /* profile */
  #profile{
    margin-top: 50px;
      text-align: left;
      position: relative;
    left: 320px;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 5px 5px;
  }

  #pro-name{
    position: relative;
    top: 6px;
    left: 20px;
    width: 75%;
    font-size: 22px;
  }
  

  #profile button{
      width: 25%;
  }

  .profile-but{
      position: relative;
      left: 320px;
  }

  .prof-but-elem{
background-color: white;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom:1px solid grey;
padding: 5px 15px;
  }

  .create{    
    width: 50%;
  }

  

  /* profile */

  a {
    /* color: #0060b6; */
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: black;
    text-decoration: none;
  }

  #Posts{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  #follower{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  #following{
    color: black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
  }

  /* #profile{
    color: white;
  } */

  i{
    margin-top: 10px;
  }

  .header-buttons{
    margin-top: 10px;
  }

  /* card list  */

  .card-list-body{
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #6c757d;
text-align: left;
  }

  .card {
    margin-bottom: 0.75rem; }
    .card .card-title {
      max-width: 90%; }



  .card-task .card-body {
    padding: 1.25rem;
    justify-content: space-between;
   }

   .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
   }
   
   /* .card-list {
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #dee2e6; } */

/* ---------------------------------------------------------------------------------- */

    /* chat */
  .chat-box{
    position: fixed;
    right: 20px;
    bottom: 0px;
    width: 325px;
    height: 65vh;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s ease-in;
    transform: scaleY(0);
    transform-origin: bottom;
    overflow-y: auto;
  }

  .chat-content{
    position: fixed;
    right: 20px;
    bottom: 0px;
    width: 325px;
    height: 65vh;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s ease-in;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .chat-box.active{
    transform: scaleY(1);

  }

  .chat-header{
    background-color: black;
color: white;
padding: 5px 12px;
font-size: 20px;
  }

  #send-container{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .chat-input{
    width: 100%;
  }

  .ms-left{
    float: left;
    clear: both;
    background-color: grey;
    padding: auto;
    margin: 2px 0;
    border-radius: 5px;
  }

  .ms-right{
    float: right;
    clear: both;
    background-color: skyblue;
    padding: auto;
    margin: 2px 0;
    border-radius: 5px;
  }